<table border='1'>
    <tr>
        <td>Emailid</td>
        <td><input type="text" [(ngModel)]='Eid'></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text"[(ngModel)]='Name'></td>
    </tr>
    <tr>
        <td>phone number</td>
        <td><input type="number"[(ngModel)]='phonenumber'></td>
    </tr>
    <tr>
        <td>password</td>
        <td><input type="password"[(ngModel)]='pwd'></td>
    </tr>
    </table>
<nav>
    <a routerLink="/user" routerLinkAction="active">Register</a><br/>
</nav>
